<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} base styles {% endcomment %}
    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/component/btn/btn.css">
    {% comment %} script loop {% endcomment %}
    {% for style in styles %}
       <link rel="stylesheet" href="/styles/{{style}}">
    {% endfor %}
    {% for script in scripts %}
        <script src="/scripts/{{script}}" defer></script>
    {% endfor %}
    <title>{{title | default: "Drop & heal"}}</title>
</head>
<body data-theme="{{themeColor | default: blue}}">
{% if id %}
    {% render './partials/decor/decor-container.liquid', id: id %}
    {% comment %} {% render './partials/decor/Mesh-Grad-{{ id }}.liquid', classes: "glow"  %} {% endcomment %}
{% endif %}