{% assign taskLink = "/" | append: foundTheme %}
{% assign partialLink = taskLink | append: "/" | append: pageId %}
{% assign dropsLink = partialLink | append: "/drops" %}
{% assign commentLink = partialLink | append: "/comment" %}

{% render './partials/head.liquid'
  , themeColor: foundTheme
  , id: id
  , open: open
  , scripts: scripts
  , styles: styles %}
<main>
  {% assign half_width = image.width | divided_by: 2 | floor %}
  {% assign half_height = image.height | divided_by: 1.4 | floor %}
  <picture>
    <source
      media="(orientation: landscape)"
      type="image/avif"
      srcset="https://fdnd-agency.directus.app/assets/{{ image.id }}.avif?quality=75">
    <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ image.id }}.avif?fit=cover&quality=75&width={{half_width}}&height={{half_height}}">
    <source
      media="(orientation: landscape)"
      type="image/webp"
      srcset="https://fdnd-agency.directus.app/assets/{{ image.id }}.webp?quality=75">
    <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ image.id }}.webp?fit=cover&quality=75&width={{half_width}}&height={{half_height}}">
    <source
      media="(orientation: landscape)"
      type="image/jpg"
      srcset="https://fdnd-agency.directus.app/assets/{{ image.id }}.jpg?fit=cover&quality=75">
    <img
      src="https://fdnd-agency.directus.app/assets/{{ image.id }}.jpg?fit=cover&quality=75&width={{half_width}}&height={{half_height}}"
      alt=""
      width="{{image.width}}"
      height="{{image.height}}"
      class="exercise-image">
  </picture>

  <h1 class="xxl">{{ title | split: ":" | first }}</h1>
  {{ description }}

  {% render './partials/btn/regular-btn.liquid'
    , text: "Klaar"
    , link: commentLink
    , classes: "opener"
  %}

  {% render './partials/dialog/comment-dialog.liquid'
    , link: dropsLink
    , closeLink: partialLink 
    , error: error
    , open: open
    , text: "Deel bericht"
    , conceptText: conceptText
    , conceptId: conceptId
    , isExercise: isExercise
    , exerciseId: exerciseId
  %}

</main>
{% render './partials/footer.liquid' %}