{% assign taskLink = "/" | append: foundTheme %}
{% assign partialLink = taskLink | append: "/" | append: pageId %}
{% assign dropsLink = partialLink | append: "/drops" %}
{% assign commentLink = partialLink | append: "/comment" %}

{% render './partials/head.liquid'
  , themeColor: foundTheme
  , id: id
  , scripts: scripts
  , styles: styles %}
  <main>
  {% comment %} Picture element om meerdere sources aan te geven {% endcomment %}
  <picture>
      {% comment %} moderne img (avif) {% endcomment %}
    <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ image.id }}.avif?quality=75">
      {% comment %} modernde img (webp) {% endcomment %}
    <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ image.id }}.webp?quality=75">
      {% comment %} laatste optie {% endcomment %}
    <img
      src="https://fdnd-agency.directus.app/assets/{{ image.id }}.jpg?fit=cover&quality=75"
      alt=""
      width="{{image.width}}"
      height="{{image.height}}"
      class="exercise-image">
  </picture>

  <h1 class="xxl">{{ title | split: ":" | first }}</h1>
  {{ description }}

  {% render './partials/btn/regular-btn.liquid'
    , text: "Klaar"
    , link: commentLink
    , classes: "opener"
  %}

  {% render './partials/dialog/comment-dialog.liquid'
    , link: dropsLink
    , closeLink: partialLink 
    , error: error
    , open: open
    , text: "Deel bericht"
    , conceptText: conceptText
    , conceptId: conceptId
    , isExercise: isExercise
    , exerciseId: exerciseId
  %}

</main>
{% render './partials/footer.liquid' %}